{% if usernames is defined %}
{% block head %}
    <script src="{{ url_for('static', filename='buttons.js') }}" defer></script>
{% endblock %}
{% endif %}

<form action="{{ url_for('route_download') }}" method="POST" class="hidden-md">
    {% if usernames is defined %}
    <fieldset>
    {% else %}
    <fieldset disabled>
    {% endif %}
        <div class="form-group col-md-3" >
            <select id="usernameSelect" name="username" class="form-control">
                <option disabled selected hidden>Please select username</option>
                {% if usernames is not none %}
                    {% for username in usernames %}
                        <option  value="{{ username }}">{{ username }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
            <button id="generateButton"
                    type="submit"
                    name="action"
                    value="generate"
                    class="btn btn-dark"
                    disabled
            >Generate link</button>
            <button id="downloadButton"
                    type="submit"
                    name="action"
                    value="download"
                    class="btn btn-dark"
                    disabled
            >Download calendar</button>
    </fieldset>
</form>
