<form action="{{ url_for('route_load') }}" method="POST" class="hidden-md">
    <fieldset >
        <div class="form-group col-md-9">
            <input
                type="url"
                id="urlInput"
                class="form-control"
                placeholder="Please insert a valid calendar URL"
                name="calendar-url"
                {% if input_url is defined %}
                    value="{{ input_url }}"
                {% endif %}
            >
        </div>
        <button type="submit" class="btn btn-dark">Load calendar</button>
    </fieldset>
</form>

